
.pizzas label {
  flex: 1;
  position: relative;
  background-color: rgba(218, 143, 124, 0.78);
  margin: .5em;
  height: 18em;
  right: 16px;
  left: -21px;
}
.pizzas li {
  display: flex;
}

.pizzas font {
  margin-left: 20px;
  text-align: left;
}

.pizzas button {
  background-color: #770000;
  height: 25px;
  width: 25px;
  right: 14px;
  position: absolute;
  cursor:pointer;}

.pizzas button:hover {
  background-color: rgb(189, 0, 0);
}





